{% extends "admin/base.html" %}

{% block title %}ویرایش پروژه{% endblock %}

{% block admin_styles %}
{% endblock %}



{% block admin_content %}
    <div class="container-fluid">
    <h3 class="text-center">ویرایش پروژه</h3>
    <div class="row">
        <form action="{{ url_for('admin.edit_projects_post') }}" dir="rtl" method="POST">
            <div class="col-12 my-3">
                <label for="p_status">
                    <span>لطفا کد پیگیری پروژه را وارد کنید</span>
                </label>
                {{ form.ProjectNumber(class="form-control", placeholder="کد پیگیری" ) }}
            </div>

            {{ form.hidden_tag() }}
            {{ form.submit(class="btn btn-success w-100 my-3", value="ویرایش") }}
        </form>
    </div>

    <div class="INFO">
        <h3 class="text-center mt-5">توجه فرمایید</h3>
        <p class="text-center">هر پروژه بعد از ثبت دارای یک کد منحصر به فرداست که از پنل پروژه ها قابل مشاهده</p>

        <ul class="d-flex flex-column text-end" dir="rtl">
            <li class="my-3">
                <span class="m-0 h3">پروژه تحقیقاتی</span>: <span class="m-0"> این پروژه های پروژه های خود شرکت می باشد و هزینه و طراحی و ... توسط خود شرکت و به سفارش خود شرکت می باشد به عبارتی 0 تا 100 این پروژه ها توسط خود شرکت انجام می شود</span>
            </li>
            <li class="my-3">
                <span class="m-0 h3">پروژه تجاری</span>: <span class="m-0">این پروژه ها به سفارش کارفرمایان یا شرکت های دیگر  می باشد و هزینه یا طراحی و ... توسط شرکت دیگه می باشد به عبارتی 0 تا 100 این پروژه را شرکت انجام نمی دهد</span>
            </li>
            </li>
            <li class="my-3">
                <span class="m-0 h3">پروژه نطامی</span>: <span class="m-0">این پروژه ها به سفارش ارگان و شرکت های وابسته نطامی دولتی می باشند</span>
            </li>
        </ul>
    </div>


{% endblock %}


{% block admin_scripts %}
    <script src="{{ url_for('admin.static_admin', path='js/add_project.js') }}"></script>
{% endblock %}


