{% extends "admin/base.html" %}

{% block title %}
    اضافه کردن کاربر جدید
{% endblock %}

{% block admin_styles %}
{% endblock %}

{% block admin_content %}
    <div class="container-fluid">
        <div class="row">

            <div class="col-12 my-5 text-center">
                <h2 class="mb-4">اضافه کردن کاربر جدید به سامانه</h2>
                <p class="m-0">لطفا نوع کاربر را انتخاب کنید</p>
                <ul class="list-unstyled d-flex flex-column">
                    <li>
                        <label for="employee">کارمند</label>
                        <input type="radio" class="form-check-input" id="employee" name="user-type">
                    </li>
                    <li>
                        <label for="others">سایر</label>
                        <input type="radio" class="form-check-input" id="others" name="user-type">
                    </li>
                </ul>
            </div>

            <form dir="rtl" id="add-new-user-form" class="d-none">
                {{ UserForm.hidden_tag() }}
                <h3 class="text-center my-3"> اضافه کردن کاربر جدید</h3>

                <label class="my-3 w-100" for="username-user">
                    <span class="text-danger">*</span>
                    <span>نام کاربری کاربر را وارد نمایید </span>
                    {{ UserForm.username(class="form-control", id="username-user", placeholder="نام کاربری به صورت لاتین") }}
                    <p class="m-0 text-center text-muted">نام کاربری باید به صورت تمام انگلیسی وارد شود</p>
                </label>

                <label class="my-3 w-100" for="password-user">
                    <span class="text-danger">*</span>
                    <span>گذرواژه کاربر را وارد نمایید</span>
                    {{ UserForm.password(class="form-control", id="password-user", placeholder="گذرواژه با درجه سختی بالا") }}
                    <p class="m-0 text-center text-muted">در انتخاب گذرواژه از اعداد و حروف استفاده شود</p>
                </label>


                <label class="my-3 w-100" for="username-user">
                    <span class="text-danger">*</span>
                    <span>نام و نام خانوادگی کاربر را وارد نمایید</span>
                    {{ UserForm.fullname(class="form-control", id="username-user", placeholder="به صورت فارسی") }}
                </label>

                <label class="my-3 w-100" for="status-user">
                    <span class="text-danger">*</span>
                    <span>وضعیت حساب کاربری را وارد نمایید</span>
                    {{ UserForm.active(class="d-flex justify-content-around align-items-center list-unstyled", id="status-user") }}
                    <p class="m-0 text-center text-muted">در صورت غیرفعال بود حساب کاربر اجازه ورود به حساب کاربری خود
                        را ندارد</p>
                </label>

                <label class="my-3 w-100" for="usertag-user">
                    <span>شناسه کاربری حساب کاربری را وارد نمایید</span>
                    {{ UserForm.usertag(class="form-control", id="usertag-user", placeholder="با رعایت قواعد وارد نمایید") }}
                    <p class="m-0 text-center text-muted">بدون @ وارد شود</p>
                    <p class="m-0 text-center text-muted">حداکثر طول نام کاربری 32 کاراکتر است</p>
                    <p class="m-0 text-center text-muted">کاراکتر های مجاز حروف انگلیسی اعداد _ هستند</p>
                </label>

                {{ UserForm.submit(value="ثبت کاربر جدید", class="btn btn-success w-100 ") }}


            </form>

            <form dir="rtl" id="add-new-employee-form" class="d-none">
                {{ EmployeeForm.hidden_tag() }}
                <h3 class="text-center my-3">اضافه کردن کارمند جدید</h3>

                <label class="my-3 w-100" for="employee-username">
                    <span class="text-danger">*</span>
                    <span>نام کاربری کارمند را وارد نمایید</span>
                    {{ EmployeeForm.username(class="form-control", placeholder="نام کاربری کارمند" ,id="employee-username") }}
                    <p class="m-0 text-center text-muted">نام کاربری باید تمام به صورت انگلیسی وارد شود</p>
                </label>

                <label class="my-3 w-100" for="employee-password">
                    <span class="text-danger">*</span>
                    <span>گذرواژه حساب کاربری کارمند را وارد نمایید</span>
                    {{ EmployeeForm.password(class="form-control", placeholder="گذرواژه حساب کاربری کارمند" ,id="employee-password") }}
                    <p class="m-0 text-center text-muted">گذرواژه ای با درجه سختی بالا وارد نمایید</p>
                </label>

                <label class="my-3 w-100" for="employee-first-name">
                    <span class="text-danger">*</span>
                    <span>نام کارمند را وارد نمایید</span>
                    {{ EmployeeForm.FirstName(class="form-control", placeholder="نام کارمند" ,id="employee-first-name") }}
                </label>

                <label class="my-3 w-100" for="employee-last-name">
                    <span class="text-danger">*</span>
                    <span>نام خانوادگی کارمند را وارد نمایید</span>
                    {{ EmployeeForm.LastName(class="form-control", placeholder="نام خانوادگی کارمند" ,id="employee-last-name") }}
                </label>

                <label class="my-3 w-100" for="employee-father-name">
                    <span class="text-danger">*</span>
                    <span>نام پدر کارمند را وارد نمایید</span>
                    {{ EmployeeForm.FatherName(class="form-control", placeholder="نام پدر کارمند" ,id="employee-father-name") }}
                </label>

                <label class="my-3 w-100" for="employee-birthday">
                    <span class="text-danger">*</span>
                    <span>تاریخ تولد کارمند را وارد نمایید</span>
                    {{ EmployeeForm.BirthDay(class="form-control", placeholder="تاریخ تولد کارمند" ,id="employee-birthday") }}
                    <p class="m-0 text-center text-muted">مهم: فرمت ورودی تاریخ باید به صورت YYYY/MM/DD باشد</p>
                </label>

                <label class="my-3 w-100" for="employee-meli-code">
                    <span class="text-danger">*</span>
                    <span>کد ملی کارمند را وارد نمایید</span>
                    {{ EmployeeForm.MeliCode(class="form-control", placeholder="کد ملی کارمند" ,id="employee-meli-code") }}
                </label>

                <label class="my-3 w-100" for="employee-birth-location">
                    <span class="text-danger">*</span>
                    <span>محل تولد کارمند را وارد نمایید</span>
                    {{ EmployeeForm.BirthDayLocation(class="form-control", placeholder="محل تولد کارمند" ,id="employee-birth-location") }}
                </label>

                <label class="my-3 w-100" for="employee-phone-number">
                    <span class="text-danger">*</span>
                    <span>شماره تلفن کارمند را وارد نمایید</span>
                    {{ EmployeeForm.PhoneNumber(class="form-control", placeholder="شماره تلفن کارمند" ,id="employee-phone-number") }}
                </label>

                <label class="my-3 w-100" for="employee-emergency-phone-number">
                    <span class="text-danger">*</span>
                    <span>شناره تلفن اضطراری کارمند را وارد نمایید</span>
                    {{ EmployeeForm.EmergencyPhone(class="form-control", placeholder="شماره تلفن اضطراری کارمند" ,id="employee-emergency-phone-number") }}
                </label>

                <label class="my-3 w-100" for="employee-address">
                    <span class="text-danger">*</span>
                    <span>آدرس کارمند را وارد نمایید</span>
                    {{ EmployeeForm.Address(class="form-control", placeholder="آدرس کارمند" ,id="employee-address") }}
                </label>


                <label class="my-3 w-100" for="employee-education">
                    <span class="text-danger">*</span>
                    <span>تحصیلات کارمند را وارد نمایید</span>
                    {{ EmployeeForm.Education(class="form-control", placeholder="تحصیلات کارمند" ,id="employee-education") }}
                </label>

                <label class="my-3 w-100" for="employee-code">
                    <span class="text-danger">*</span>
                    <span>کد کارمند را وارد نمایید</span>
                    {{ EmployeeForm.StaffCode(class="form-control", placeholder="کد کارمند" ,id="employee-code") }}
                </label>

                <label class="my-3 w-100" for="employee-contract-type">
                    <span class="text-danger">*</span>
                    <span>نوع قرارداد کارمند را وارد نمایید</span>
                    {{ EmployeeForm.ContractType(class="form-control", placeholder="نوع قرارداد کارمند" ,id="employee-contract-type") }}
                </label>


                <label class="my-3 w-100" for="employee-contract-start">
                    <span class="text-danger">*</span>
                    <span>تاریخ شروع قرارداد کارمند را وارد نمایید</span>
                    {{ EmployeeForm.StartContract(class="form-control", placeholder="تاریخ شروع قرارداد کارمند" ,id="employee-contract-start") }}
                    <p class="m-0 text-center text-muted">مهم: فرمت ورودی تاریخ باید به صورت YYYY/MM/DD باشد</p>
                </label>

                <label class="my-3 w-100" for="employee-contract-end">
                    <span class="text-danger">*</span>
                    <span>تاریخ اتمام قرارداد کارمند را وارد نمایید</span>
                    {{ EmployeeForm.EndContract(class="form-control", placeholder="تاریخ اتمام قرارداد کارمند" ,id="employee-contract-end") }}
                    <p class="m-0 text-center text-muted">مهم: فرمت ورودی تاریخ باید به صورت YYYY/MM/DD باشد</p>
                </label>

                <label class="my-3 w-100" for="employee-contract-end">
                    <span class="text-danger">*</span>
                    <span>موقعیت شغلی کارمند را وارد نمایید</span>
                    {{ EmployeeForm.WorkPosition(class="form-control", placeholder="موقعیت شغلی کارمند" ,id="employee-contract-end") }}
                </label>

                <label class="my-3 w-100" for="employee-marid-status">
                    <span class="text-danger">*</span>
                    <span>وضعیت تاهل کارمند را وارد نمایید</span>
                    {{ EmployeeForm.WorkPosition(class="form-control", placeholder="وضعیت تاهل کارمند" ,id="employee-marid-status") }}
                </label>

                <label class="my-3 w-100" for="employee-children">
                    <span class="text-danger">*</span>
                    <span>تعداد فرزند کارمند را وارد نمایید</span>
                    {{ EmployeeForm.Children(class="form-control", placeholder="تعداد فرزند کارمند" ,id="employee-children") }}
                </label>

                <label class="my-3 w-100" for="employee-base-salary">
                    <span class="text-danger">*</span>
                    <span>حقوق پایه کارمند را وارد نمایید</span>
                    {{ EmployeeForm.BaseSalary(class="form-control", placeholder="حقوق پایه کارمند" ,id="employee-base-salary") }}
                </label>


                <label class="my-3 w-100" for="employee-account-status">
                    <span class="text-danger">*</span>
                    <span>وضعیت حساب کاربری کارمند را وارد نمایید</span>
                    {{ EmployeeForm.Active(class="d-flex justify-content-around align-items-center list-unstyled", placeholder="وضعیت حساب کاربری کارمند" ,id="employee-account-status") }}
                </label>

                {{ EmployeeForm.submit(value="ثبت کارمند", class="btn btn-success w-100") }}

            </form>


            <div class="info my-5 text-center border-top pt-5">
                <h3>راهنمایی</h3>
                <ul dir="rtl" class="p-0 d-flex flex-column justify-content-center align-items-center">
                    <li>ابتدا نوع کاربر را از طریق دکمه های کنترلی انتخاب سپس شروع به وارد کردن فیلد ها نمایید</li>
                    <li>در انتخاب گذرواژه حساب کاربری از ترکیب حروف اعداد و شکل ها استفاده کنید</li>
                    <li>در صورت وارد کردن اشتباهی موارد میتوانید از طریق ویرایش اکانت اقدام به ویرایش تغییرات نمایید
                    </li>
                    <li>در صورت مشاهده هر گرونه خطا پس از گذشت زمانی دوباره امتحان کنید</li>
                </ul>
            </div>

        </div>
    </div>
{% endblock %}


{% block admin_scripts %}
    <script src="{{ url_for('admin.private_static', path='js/AddUser.js') }}"></script>
{% endblock %}