{% extends "admin/base.html" %}



{% block title %}
    مدیریت کاربران سامانه
{% endblock %}

{% block admin_styles %}
{% endblock %}

{% block admin_content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 my-3" dir="rtl">
                <button class="btn btn-success add-user">اضافه کردن کاربر</button>
                <button class="btn btn-warning edit-user">ویرایش کاربر</button>
                <button class="btn btn-success report-users">دریافت خروجی کاربران</button>
            </div>

            <div class="col-12 my-5" dir="rtl">
                <h3 class="text-center"> مدیریت سریع کاربران</h3>
                {% if content.users %}
                    <table class="table table-dark table-responsive table-hover table-bordered">
                        <thead>
                        <tr>
                            <th>نام کاربری</th>
                            <th>نام و نام خانوادگی</th>
                            <th>تاریخ ساخت</th>
                            <th>وضعیت</th>
                            <th>گروه کاربر</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in content.users %}
                            <tr>
                                <td>{{ user.username }}</td>
                                <td>{{ user.FullName }}</td>
                                <td>{{ user.CreatedTime }}</td>
                                {% if user.Active %}
                                    <td>
                                        <button class="btn btn-success w-100">فعال</button>
                                    </td>
                                {% else %}
                                    <td>
                                        <button class="btn btn-danger w-100">غیرفعال</button>
                                    </td>
                                {% endif %}
                                <td>{{ user.UserRole | RoleName }}</td>
                                <td>
                                    <button class="btn btn-primary w-100">ویرایش</button>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    {# pagination for users in table #}
                    <nav class="d-flex justify-content-center align-items-center" aria-label="Page navigation "
                         dir="ltr">
                        <ul class="pagination">

                            {% if content.users.pages - content.current_page  >= 0 and content.current_page != 1 %}
                                <li class="page-item">
                                    <a class="page-link"
                                       href="{{ url_for('admin.manage_users', page=content.current_page - 1) }}"
                                       aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                            {% endif %}

                            {% for page in content.users.iter_pages(right_edge=1, left_edge=1,right_current=1, left_current=1) %}
                                {% if page %}
                                    {% if page == content.current_page %}
                                        <li class="page-item"><a class="page-link active"
                                                                 href="{{ url_for('admin.manage_users', page=page) }}">{{ page }}</a>
                                        </li>
                                    {% else %}
                                        <li class="page-item"><a class="page-link"
                                                                 href="{{ url_for('admin.manage_users', page=page) }}">{{ page }}</a>
                                        </li>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}

                            {% if content.users.pages - content.current_page > 0 %}
                                <li class="page-item">
                                    <a class="page-link"
                                       href="{{ url_for('admin.manage_users', page=content.current_page + 1) }}"
                                       aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            {% endif %}

                        </ul>
                    </nav>

                {% endif %}

            </div>

        </div>

    </div>
{% endblock %}


{% block admin_scripts %}
{% endblock %}