<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>سامانه ناوک</title>
    <link rel="stylesheet" href="../assets/bootstrap-icons.css">
    <!-- CSS only -->
    <link href="../assets/bootstrap.min.css" rel="stylesheet" >
    
    <!-- custom css  -->
    <link rel="stylesheet" href="../assets/public.css">
    <link rel="stylesheet" href="./css/login.css">
</head>
<body>

    <!-- header start -->
    <header>
        <nav class="navbar nav-pills navbar-expand-md bg-light py-3 fs-5">
            <div class="container-fluid">
                <a href="/" class="navbar-brand fs-3">سامانه ناوک</a>
                <button class="navbar-toggler" type="button"
                 data-bs-toggle="collapse" data-bs-target="#mynavbar">
                <span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="mynavbar">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item ">
                        <a href="#open_modal_logins" data-bs-toggle="modal" class="nav-link">ورود</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link">ابزار ها</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link">تالار اجتماع</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link"> خانه</a>
                    </li>
                </ul>
            </div>
        </div>
        </nav>
    </header>
    <!-- end of header start -->

    <div class="container-fluid d-flex justify-content-center align-items-center" style="height: 85vh;">

  
                <div class="card">
                    <div class="card-header">پرتابل ورود نماینگان</div>
                    <div class="card-body">
                        <div class="my-1 d-flex justify-content-center align-items-center">
                            <i class="bi bi-person-circle" style="font-size: 10rem;"></i>
                        </div>
                        <form action="" dir="rtl">
                            <div class="input-group my-2">
                                <input type="text" class="form-control rounded-0" placeholder="ایمیل حساب کاربری" name="username" id="">
                                <i class="bi bi-envelope input-group-text rounded-0 rounded-start"></i>
                            </div>
                            <div class="input-group my-2">
                                <input type="password" class="form-control rounded-0" placeholder="رمز ورود به حساب کاربری"  name="password" id="">
                                <i class="bi bi-key-fill input-group-text  rounded-0 rounded-start "></i>
                            </div>
                            <input type="submit" class="form-control btn bg-success text-white" value="تایید اطلاعات" >
                        </form>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex  justify-content-between align-items-center">
                            <a href="">فراموش رمز عبور</a>
                            <a href="">ایجاد حساب کاربری</a>
                        </div>
                    </div>
                </div>


    </div>




    <!-- footer -->
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12 col-md-6 col-lg-3 bg-danger">
                    <div>
                        <h3>نوار دسترسی سریع</h3>
                        <a href="">link</a>
                        <a href="">link</a>
                        <a href="">link</a>
                        <a href="">link</a>
                        <a href="">link</a>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 bg-danger">
                    <div>
                        <h3>منوی خدمات</h3>
                        <a href="">link</a>
                        <a href="">link</a>
                        <a href="">link</a>
                        <a href="">link</a>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 bg-danger">
                    <div>
                        <h3>ارتباط و اینا</h3>
                        <a href="">link</a>
                        <a href="">link</a>
                        <a href="">link</a>
                        <a href="">link</a>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 bg-danger">
                    <div>
                        <h3>یه سری چیزای دیگه</h3>
                        <a href="">link</a>
                        <a href="">link</a>
                        <a href="">link</a>
                        <a href="">link</a>
                    </div>
                </div>
            </div>
        </div>
    <!-- end of footer -->





<!-- JavaScript Bundle with Popper -->
<script src="../assets/bootstrap.bundle.min.js"></script>

    
      <!-- modals -->
      <div class="modal fade fs-5" id="open_modal_logins">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header d-flex justify-content-between align-items-center">
                    <span>ورود نمایندگان</span>
                    <button class="btn btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body d-flex flex-column justify-content-around align-items-center">
                    <div class="my-2 w-100 d-flex justify-content-center align-items-center">
                        <a href="" class="text-decoration-none text-dark d-flex justify-content-center align-items-center">
                            <span class="mx-2">
                                ورود مدیران 
                            </span>
                            <i class="bi bi-person-square"></i>
                        </a>
                    </div>
                    <div class="my-2 w-100 d-flex justify-content-center align-items-center">
                        <a href="" class="text-decoration-none text-dark d-flex justify-content-center align-items-center">
                            <span class="mx-2">
                                ورود سرپرست ها 
                            </span>
                            <i class="bi bi-person-vcard"></i>
                        </a>
                    </div>
                    <div class="my-2 w-100 d-flex justify-content-center align-items-center">
                        <a href="" class="text-decoration-none text-dark d-flex justify-content-center align-items-center">
                            <span class="mx-2">
                                ورود کارمند ها
                            </span>
                            <i class="bi bi-person-rolodex"></i>
                        </a>
                    </div>
                </div>
                <div class="modal-footer"></div>
            </div>
        </div>
      </div>
    
    </body>
</html>